<article class="listing">
  <img src="{{actor.image}}" alt="">
  <h3>{{actor.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span> {{actor.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{actor.city}}actor
  </div>
</article>actor
{{yield}}
